.latest-match-card {
  color: #ffffff;
  font-family: 'Font-families';
  font-size: 18px;
}

.card-backgroud {
  background-color: #0f172a;
  border-radius: 10px;
  padding: 20px;
  display: flex;
}

.competing-team-detail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 15px;
}

@media screen AND (max-width: 560px) {
  .card-backgroud {
    flex-direction: column;
    padding: 0;
  }
  .competing-team-detail {
    padding: 20px;
  }
}

.competingname {
  font-size: 24px;
}

.separator-line {
  display: none;
}

.wiki-logo {
  width: 100px;
}

.match-detail {
  text-align: right;
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 12px;
}

.title-tag {
  font-size: 15px;
}

@media screen AND (max-width: 560px) {
  .separator-line {
    display: block;
    width: 100%;
    color: #ffffff33;
  }
  .match-detail {
    text-align: left;
    padding: 20px;
  }
}
